@model List<MynChain.Models.Block>
@{
    ViewData["Title"] = "Home";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blocks</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Home">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Blocks</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a href="@Url.Action("Add")" class="btn btn-primary btn-circle m-t-lg">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter" placeholder="Search...">
                </div>
                <div class="ibox-content">
                    @if (Model.Count <= 0)
                    {
                        <div class="alert alert-info">
                            There are no blocks to display
                        </div>
                    }
                    else
                    {
                        <table class="footable table table-stripped default footable-loaded" data-page-size="8" data-filter="#filter">
                            <thead>
                                <tr>
                                    <th class="footable-visible footable-sortable footable-sorted-desc">@Html.ActionLink("Index", "Home", new { sortOrder = ViewBag.IndexSortParm })<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="phone,tablet" class="footable-visible footable-sortable">@Html.ActionLink("PreviousHash", "Home", new { sortOrder = ViewBag.PreviousHashSortParm })<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="phone,tablet" class="footable-visible footable-sortable">@Html.ActionLink("Proof", "Home", new { sortOrder = ViewBag.ProofSortParm })<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="phone,tablet" class="footable-visible footable-sortable">@Html.ActionLink("Timestamp", "Home", new { sortOrder = ViewBag.TimestampSortParm })<span class="footable-sort-indicator"></span></th>
                                    <th data-hide="phone,tablet" class="footable-visible footable-sortable">Actions<span class="footable-sort-indicator"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeA footable-even" style="">
                                        <td class="footable-visible">@Html.DisplayFor(modelItem => item.Index)</td>
                                        <td class="footable-visible">@Html.DisplayFor(modelItem => item.PreviousHash)</td>
                                        <td class="footable-visible">@Html.DisplayFor(modelItem => item.Proof)</td>
                                        <td class="footable-visible">@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                        <td class="center footable-visible">
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false">Action</button>
                                                <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 24px; left: 0px; will-change: top, left;">
                                                    <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> Show</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="footable-visible">
                                        <strong>@Model.Count()</strong> records
                                    </td>
                                    <td colspan="3" class="footable-visible">
                                        <ul class="pagination float-right"><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page"><a data-page="2" href="#">3</a></li><li class="footable-page"><a data-page="3" href="#">4</a></li><li class="footable-page"><a data-page="4" href="#">5</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>